
<div class="comment-box">
    <h1>Comments section</h1>
    <br>
    <form action=<%= section %> method="POST" class="comment-form">
        <% if(logged == true) { %>
            <input type="text" name='comment' required>
            <button class="log-reg" style="transform: translate(70%,-25%); width: 8vw;">submit</button>
        <% } %>
    </form>
    <% if(comment_block.length > 0) { %>
        <% comment_block.forEach(element => { %>
            <div class="comment">
                <%= element.username %> |
                <%= element.createdAt %> <br><br>
                <%= element.comment %> <br>
            </div>
        <% }) %>
    <% } %>
</div>