<nav class="leftmenu">
    <div class="nodropdown">
      <a href="./index" class="nodropbtn" style="margin-top: 0px">Introduction</a>
    </div>
  
    <div class="dropdown">
      <button onclick=myFunction("d1") class="dropbtn">Basics</button>
      <div id="d1" class="dropdown-content">
        <a href="#window">window</a>
        <a href="./triangle">first triange</a>
        <a href="#shaders">shaders</a>
        <a href="./textures">textures</a>
        <a href="#coordinates">coordinate spaces</a>
      </div>
  
      <button onclick=myFunction("d2") class="dropbtn">Lighting</button>
      <div id="d2" class="dropdown-content">
        <a href="./colors">colors</a>
        <a href="#basiclighting">basic lighting</a>
        <a href="#materials">materials</a>
        <a href="#lightingmaps">lighting maps</a>
      </div>
  
      <button onclick=myFunction("d3") class="dropbtn">Model Loading</button>
      <div id="d3" class="dropdown-content">
        <a href="#assimp">assimp</a>
        <a href="#mesh">mesh</a>
        <a href="#model">model</a>
      </div>
  
      <button onclick=myFunction("d4") class="dropbtn">Other APIs</button>
      <div id="d4" class="dropdown-content">
        <a href="#directx">DirectX</a>
        <a href="#vulkan">Vulkan</a>
        <a href="#metal">Metal</a>
      </div>
  
      <div class="nodropdown">
        <a href="https://github.com/apetor56" class="nodropbtn">Code repository</a>
      </div>
    </div>
</nav>