<aside class="logos">
    <div class="segment">
      <img src="../img/opengl.png">
    </div>
    <div class="segment">
      <img src="../img/directx.png">
    </div>
    <div class="segment">
      <img src="../img/vulkan.png">
    </div>
    <div class="segment">
      <img src="../img/metal.png">
    </div>
</aside>